## Visual Studio temporary files
.vs/
[Vv]s/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build outputs (The "Bin" files from your earlier screenshot)
bin/
obj/
/bin/
/obj/

## Personal VS settings
.vs/GROUP6_ANGAT/