/****** Object:  Database [AngatDatabase]    Script Date: 2026-03-23 5:55:14 AM ******/
CREATE DATABASE [AngatDatabase]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](100) NOT NULL,
	[SenderEmail] [nvarchar](150) NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AppliedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[JobDescription] [nvarchar](1000) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[PayMin] [decimal](10, 2) NULL,
	[PayMax] [decimal](10, 2) NULL,
	[PayRate] [nvarchar](20) NOT NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
	[PostedByUserId] [int] NOT NULL,
	[Slots] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negosyo]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negosyo](
	[NegosyoId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessName] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[AddressLine] [nvarchar](200) NULL,
	[OwnerName] [nvarchar](120) NULL,
	[Hours] [nvarchar](50) NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[MapEmbedUrl] [nvarchar](600) NULL,
 CONSTRAINT [PK_Negosyo] PRIMARY KEY CLUSTERED 
(
	[NegosyoId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[NotificationType] [nvarchar](100) NOT NULL,
	[TargetUrl] [nvarchar](255) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuhunanPrograms]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuhunanPrograms](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](100) NOT NULL,
	[Organization] [nvarchar](100) NULL,
	[TagText] [nvarchar](100) NULL,
	[CategorySlug] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[TargetURL] [nvarchar](500) NULL,
	[LoanType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequests]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTitle] [nvarchar](150) NOT NULL,
	[ServiceDescription] [nvarchar](1000) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[RateMin] [decimal](10, 2) NULL,
	[RateMax] [decimal](10, 2) NULL,
	[RateType] [nvarchar](20) NOT NULL,
	[Availability] [nvarchar](100) NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
	[PostedByUserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingPrograms]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingPrograms](
	[TrainingID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Agency] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[Status] [nvarchar](10) NULL,
	[ApplyURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-03-23 5:55:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[AddressLine] [nvarchar](200) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfileImagePath] [nvarchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (1, N'Jaime', N'jaime@example.com', N'Testing the contact form setup!', CAST(N'2026-03-16T00:54:10.193' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (2, N'Jaime', N'delapena.0221@gmail.com', N'Test iteration 1', CAST(N'2026-03-16T01:06:50.637' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (3, N'Jame', N'delapena.0221@gmail.com', N'Iteration Idk', CAST(N'2026-03-17T19:45:58.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (36, 66, 18, NULL, N'Pending', CAST(N'2026-03-22T21:29:39.373' AS DateTime))
INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (37, 67, 18, NULL, N'Pending', CAST(N'2026-03-22T21:29:44.240' AS DateTime))
INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (38, 66, 20, NULL, N'Pending', CAST(N'2026-03-22T21:44:19.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (56, N'House Helper', N'Naghahanap kasambahay para sa aming pamilya', N'Kasambahay', N'New Biñan', CAST(5000.00 AS Decimal(10, 2)), CAST(6000.00 AS Decimal(10, 2)), N'per month', N'Full-time|Flexible Hours|Urgent|Experienced|Pisikal na Trabaho', N'Available', 1, CAST(N'2026-03-22T21:13:08.053' AS DateTime), 16, 1)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (57, N'Personal Driver', N'Naghahanap kami ng driver para sa aking bagong kotse. Dito ko isasakay ang aking mga anak.', N'Driver', N'San Antonio', CAST(10000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), N'per month', N'Full-time|Weekdays Only|Urgent|Experienced|Driver''s License', N'Available', 1, CAST(N'2026-03-22T21:14:16.923' AS DateTime), 16, 2)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (58, N'Karpintero', N'Magpapagawa ng mga cabinets para sa aming bahay', N'Karpintero', N'San Francisco', CAST(2000.00 AS Decimal(10, 2)), CAST(3000.00 AS Decimal(10, 2)), N'per day', N'Part-time|Weekends Only|Urgent|Experienced|NBI Clearance|With Tools', N'Available', 1, CAST(N'2026-03-22T21:15:13.533' AS DateTime), 16, 1)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Negosyo] ON 

INSERT [dbo].[Negosyo] ([NegosyoId], [BusinessName], [Category], [Barangay], [AddressLine], [OwnerName], [Hours], [Tags], [Status], [IsActive], [CreatedAt], [UserId], [ContactNumber], [MapEmbedUrl]) VALUES (6, N'Truffino', N'Kainan at Panaderya', N'San Antonio', N'17 Gomez, San Pedro, Laguna', N'Julia', N'Martes - Linggo | 6:00 AM - 10:00 PM', N'GCash Accepted|Dine-in', N'Bukas Ngayon', 1, CAST(N'2026-03-22T21:06:06.170' AS DateTime), 16, N'09177915672', N'https://maps.app.goo.gl/f99yjAo4N8AGWX997')
INSERT [dbo].[Negosyo] ([NegosyoId], [BusinessName], [Category], [Barangay], [AddressLine], [OwnerName], [Hours], [Tags], [Status], [IsActive], [CreatedAt], [UserId], [ContactNumber], [MapEmbedUrl]) VALUES (7, N'Kamp Lilim Cafe  Restaurant', N'Kainan at Panaderya', N'Santo Tomas', N'South City Homes, 2473 Dipolog St, 8 Brgy, Santo Tomas, Biñan, 4024 Laguna', N'Kali', N'Weekdays (Lunes - Biyernes) | 9:00 AM - 9:00 PM', N'Cash Only|Delivery|Dine-in', N'Bukas Ngayon', 1, CAST(N'2026-03-22T21:08:23.130' AS DateTime), 16, N'09956679725', N'https://maps.app.goo.gl/bUSaj95y6eNjwNTW9')
INSERT [dbo].[Negosyo] ([NegosyoId], [BusinessName], [Category], [Barangay], [AddressLine], [OwnerName], [Hours], [Tags], [Status], [IsActive], [CreatedAt], [UserId], [ContactNumber], [MapEmbedUrl]) VALUES (8, N'Rgm Office Furniture', N'Hardware at Construction', N'Santo Tomas', N'South city homes, B13 L29 Sorsogon St, Biñan, 4024 Laguna', N'Romy', N'Martes - Sabado | 9:00 AM - 5:00 PM', N'Cash Only|Pick-up|Delivery', N'Bukas Ngayon', 1, CAST(N'2026-03-22T21:11:03.680' AS DateTime), 16, N'09454134864', N'https://maps.app.goo.gl/Fw8TcURwAjsJ3vCm7')
SET IDENTITY_INSERT [dbo].[Negosyo] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (118, 16, N'Bagong service request', N'Jaime De la Pena requested your service: Tubero On-Call.', N'service_request_new', N'~/Pages/Profile.aspx?tab=servicelistings&requestId=21', 0, CAST(N'2026-03-22T21:29:59.183' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (119, 17, N'Bagong service request', N'Jaime De la Pena requested your service: Tricycle Service.', N'service_request_new', N'~/Pages/Profile.aspx?tab=servicelistings&requestId=22', 0, CAST(N'2026-03-22T21:30:03.563' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (120, 17, N'Bagong service request', N'Jame De La Pena requested your service: Tricycle Service.', N'service_request_new', N'~/Pages/Profile.aspx?tab=servicelistings&requestId=23', 0, CAST(N'2026-03-22T21:44:31.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PuhunanPrograms] ON 

INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (1, N'DTI - P3 Program', N'DTI', N'Pondo sa Pagbabago at Pag-asenso', N'DTI', N'Isang programa ng Department of Trade and Industry na nagbibigay ng pautang na walang collateral. Mayroon lamang itong 2.5% na interes kada buwan, mas mababa kaysa sa mga loan sharks.', N'https://www.dti.gov.ph/p3/', N'Micro')
INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (2, N'CARD MRI Microfinance', N'CARD MRI', N'Para sa mga Nanay', N'CARD', N'Nagbibigay ng maliliit na pautang na nagsisimula sa P3,000 para sa mga kababaihan na gustong magnegosyo. Mayroon din itong kasamang micro-insurance at savings program.', N'https://www.cardmri.com/', N'Micro')
INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (3, N'DOLE Kabuhayan Program', N'DOLE', N'Livelihood Grant', N'DOLE', N'Ang DOLE Integrated Livelihood Program (DILP) ay nagbibigay ng grant (hindi inuutang, kundi tulong) para sa mga materyales at equipment na kailangan para makapagsimula ng negosyo.', N'https://www.dole.gov.ph/dilp-projects/', N'Small')
SET IDENTITY_INSERT [dbo].[PuhunanPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRequests] ON 

INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (21, 34, 18, NULL, N'Approved', CAST(N'2026-03-22T21:29:59.173' AS DateTime))
INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (22, 36, 18, NULL, N'Pending', CAST(N'2026-03-22T21:30:03.553' AS DateTime))
INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (23, 36, 20, NULL, N'Pending', CAST(N'2026-03-22T21:44:31.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (31, N'Refrigerator Repair', N'May sapat na kaalaman sa pagkukumpuni ng mga ref', N'Aircon', N'Maysilo', CAST(400.00 AS Decimal(10, 2)), CAST(700.00 AS Decimal(10, 2)), N'per unit', NULL, N'Repair|Cleaning|Maintenance|Flexible Hours|Experienced|Licensed|Pisikal na Trabaho', N'Available', 1, CAST(N'2026-03-22T21:17:38.900' AS DateTime), 17)
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (32, N'Tubero', N'Marunong magtrabaho ng malinis.', N'Tubero', N'Soro-soro Ilaya', CAST(200.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), N'per job', NULL, N'Cleaning|Flexible Hours|Experienced|Licensed|Pisikal na Trabaho', N'Available', 1, CAST(N'2026-03-22T21:18:27.470' AS DateTime), 17)
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (33, N'Aircon Cleaning', N'Home service aircon cleaning, mabilis at maayos.', N'Aircon', N'Zapote', CAST(500.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), N'per unit', N'Weekdays Only', N'Cleaning|Weekdays Only|With Tools', N'Available', 1, CAST(N'2026-03-22T21:18:50.653' AS DateTime), 16)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingPrograms] ON 

INSERT [dbo].[TrainingPrograms] ([TrainingID], [Title], [Agency], [Description], [Location], [Status], [ApplyURL]) VALUES (1, N'Cookery NC II', N'TESDA', N'Matutong magluto ng mga sikat na putahe para sa carinderia o catering business.', N'Biñan Livelihood Center', N'Open', N'https://e-tesda.gov.ph/course/index.php?categoryid=4')
INSERT [dbo].[TrainingPrograms] ([TrainingID], [Title], [Agency], [Description], [Location], [Status], [ApplyURL]) VALUES (3, N'Electrical Installation & Maintenance NC II', N'TESDA', N'Libreng kurso para maging isang certified electrician.', N'TESDA Provincial Office', N'Open', N'https://e-tesda.gov.ph/course/index.php?categoryid=77')
SET IDENTITY_INSERT [dbo].[TrainingPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (16, N'Sample User', N'sample@gmail.com', N'Asdfg123', CAST(N'2026-03-22T21:03:33.420' AS DateTime), 1, N'09177915672', N'467, Chestnut street, La Marea', N'San Antonio', N'User', N'~/Images/default-icon.jpg')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (17, N'vince', N'vincesantos1927@gmail.com', N'vince1234', CAST(N'2026-03-22T21:14:08.507' AS DateTime), 1, N'09811605562', N'Binan City Hall', N'Masile', N'User', N'~/Images/default-icon.jpg')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (18, N'Jaime De la Pena', N'jaimedelapena@gmail.com', N'Bobadino1234', CAST(N'2026-03-22T21:28:44.727' AS DateTime), 1, N'09177915670', N'Chestnut Street, House no. 467', N'San Antonio', N'User', N'~/Images/default-icon.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Phone]    Script Date: 2026-03-23 5:55:15 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 2026-03-23 5:55:15 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('per day') FOR [PayRate]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [Slots]
GO
ALTER TABLE [dbo].[Negosyo] ADD  CONSTRAINT [DF_Negosyo_Status]  DEFAULT ('Bukas Ngayon') FOR [Status]
GO
ALTER TABLE [dbo].[Negosyo] ADD  CONSTRAINT [DF_Negosyo_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Negosyo] ADD  CONSTRAINT [DF_Negosyo_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('per day') FOR [RateType]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[TrainingPrograms] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_ProfileImagePath]  DEFAULT ('~/Images/default-icon.jpg') FOR [ProfileImagePath]
GO
ALTER TABLE [dbo].[JobApplications]  WITH NOCHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobApplications]  WITH NOCHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Negosyo]  WITH CHECK ADD  CONSTRAINT [FK_Negosyo_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Negosyo] CHECK CONSTRAINT [FK_Negosyo_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH NOCHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH NOCHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH NOCHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
