USE [master]
GO
/****** Object:  Database [AngatDatabase]    Script Date: 2026-03-17 10:05:05 PM ******/
CREATE DATABASE [AngatDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngatDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AngatDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngatDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AngatDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngatDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngatDatabase]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 2026-03-17 10:05:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](100) NOT NULL,
	[SenderEmail] [nvarchar](150) NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 2026-03-17 10:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[JobLocation] [nvarchar](150) NOT NULL,
	[JobPay] [nvarchar](80) NULL,
	[JobTags] [nvarchar](200) NULL,
	[JobDescription] [nvarchar](400) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AppliedAt] [datetime] NOT NULL,
	[JobId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2026-03-17 10:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[JobLocation] [nvarchar](150) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[JobPay] [nvarchar](80) NULL,
	[JobTags] [nvarchar](200) NULL,
	[JobDescription] [nvarchar](400) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DateLabel] [nvarchar](60) NULL,
	[IconClass] [nvarchar](40) NOT NULL,
	[IconBg] [nvarchar](20) NOT NULL,
	[IconColor] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
	[Category] [nvarchar](80) NOT NULL,
	[PostedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequests]    Script Date: 2026-03-17 10:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[ServiceTitle] [nvarchar](200) NOT NULL,
	[ServiceLocation] [nvarchar](200) NOT NULL,
	[ServiceRate] [nvarchar](120) NOT NULL,
	[ServiceTags] [nvarchar](250) NULL,
	[ServiceDescription] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2026-03-17 10:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTitle] [nvarchar](200) NOT NULL,
	[ServiceLocation] [nvarchar](200) NOT NULL,
	[Barangay] [nvarchar](100) NOT NULL,
	[ServiceRate] [nvarchar](120) NOT NULL,
	[ServiceTags] [nvarchar](250) NULL,
	[ServiceDescription] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DateLabel] [nvarchar](50) NOT NULL,
	[IconClass] [nvarchar](100) NULL,
	[IconBg] [nvarchar](50) NULL,
	[IconColor] [nvarchar](50) NULL,
	[Category] [nvarchar](100) NULL,
	[PostedByUserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-03-17 10:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[AddressLine] [nvarchar](200) NULL,
	[Barangay] [nvarchar](80) NULL,
	[Bio] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfileImagePath] [nvarchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (1, N'Jaime', N'jaime@example.com', N'Testing the contact form setup!', CAST(N'2026-03-16T00:54:10.193' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (2, N'Jaime', N'delapena.0221@gmail.com', N'Test iteration 1', CAST(N'2026-03-16T01:06:50.637' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (3, N'Jame', N'delapena.0221@gmail.com', N'Iteration Idk', CAST(N'2026-03-17T19:45:58.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([ApplicationId], [UserId], [JobTitle], [JobLocation], [JobPay], [JobTags], [JobDescription], [Status], [AppliedAt], [JobId]) VALUES (1, 1, N'House Helper / Kasambahay', N'Brgy. Dela Paz, Biñan', N'₱5,000–₱6,500 / buwan', N'Full-time, May Tirahan', N'Tumulong sa gawaing bahay, paglilinis, at pag-aalaga ng tahanan.', N'Retracted', CAST(N'2026-03-17T19:57:38.020' AS DateTime), NULL)
INSERT [dbo].[JobApplications] ([ApplicationId], [UserId], [JobTitle], [JobLocation], [JobPay], [JobTags], [JobDescription], [Status], [AppliedAt], [JobId]) VALUES (2, 1, N'Personal Driver', N'Brgy. Canlalay, Biñan', N'₱600–₱800 / araw', N'Part-time, May Lisensya', N'Responsable sa pagmamaneho at paghatid ng kliyente sa araw-araw.', N'Retracted', CAST(N'2026-03-17T20:01:52.093' AS DateTime), NULL)
INSERT [dbo].[JobApplications] ([ApplicationId], [UserId], [JobTitle], [JobLocation], [JobPay], [JobTags], [JobDescription], [Status], [AppliedAt], [JobId]) VALUES (3, 1, N'House Helper / Kasambahay', N'Brgy. Dela Paz, Biñan', N'₱5,000–₱6,500 / buwan', N'Full-time, May Tirahan', N'Tumulong sa gawaing bahay, paglilinis, at pag-aalaga ng tahanan.', N'Rejected', CAST(N'2026-03-17T20:26:46.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobLocation], [Barangay], [JobPay], [JobTags], [JobDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [IsActive], [PostedAt], [Category], [PostedByUserId]) VALUES (1, N'House Helper / Kasambahay', N'Brgy. Dela Paz, Biñan', N'Dela Paz', N'₱5,000–₱6,500 / buwan', N'Full-time|May Tirahan', N'Tumulong sa gawaing bahay, paglilinis, at pag-aalaga ng tahanan.', N'Bukas', N'2 araw na ang nakakaraan', N'bx bx-home-heart', N'#e6f7f1', N'#0d9e6e', 1, CAST(N'2026-03-17T20:09:28.773' AS DateTime), N'Household', 1)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobLocation], [Barangay], [JobPay], [JobTags], [JobDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [IsActive], [PostedAt], [Category], [PostedByUserId]) VALUES (2, N'Personal Driver', N'Brgy. Canlalay, Biñan', N'Canlalay', N'?600–?800 / araw', N'Part-time|May Lisensya', N'Responsable sa pagmamaneho at paghatid ng kliyente sa araw-araw.', N'Bukas', N'3 araw na ang nakakaraan', N'bx bx-car', N'#ccfbf1', N'#14b8a6', 1, CAST(N'2026-03-17T20:09:28.773' AS DateTime), N'Driver', 1)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobLocation], [Barangay], [JobPay], [JobTags], [JobDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [IsActive], [PostedAt], [Category], [PostedByUserId]) VALUES (3, N'Laundry Helper / Labandera', N'Brgy. Platero, Biñan', N'Platero', N'?350–?450 / araw', N'Part-time|Pang-araw-araw', N'Pagtanggap at pagproseso ng labada; plantsa at packaging kapag kinakailangan.', N'Bukas', N'Kahapon', N'bx bx-water', N'#ffe4e6', N'#be123c', 1, CAST(N'2026-03-17T20:09:28.773' AS DateTime), N'Laundry', 1)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceLocation], [Barangay], [ServiceRate], [ServiceTags], [ServiceDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [Category], [PostedByUserId], [IsActive], [PostedAt]) VALUES (1, N'Mang Kanor - Karpintero', N'Brgy. San Antonio, Biñan', N'San Antonio', N'₱600-₱900 / araw', N'Home Repair|Cabinet Making', N'Pag-aayos ng pinto, cabinet, at minor carpentry works.', N'Available', N'Ngayon', N'bx bx-hammer', N'#fef3c7', N'#b45309', N'Karpintero', 1, 1, CAST(N'2026-03-17T21:51:15.483' AS DateTime))
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceLocation], [Barangay], [ServiceRate], [ServiceTags], [ServiceDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [Category], [PostedByUserId], [IsActive], [PostedAt]) VALUES (2, N'Kuya Lando - Tubero', N'Brgy. Canlalay, Biñan', N'Canlalay', N'₱500-₱750 / araw', N'Leak Repair|Pipe Installation', N'Pag-aayos ng tagas at kabit ng bagong tubo.', N'Available', N'2 araw na ang nakaraan', N'bx bx-wrench', N'#dbeafe', N'#1d4ed8', N'Tubero', 1, 1, CAST(N'2026-03-15T21:51:15.483' AS DateTime))
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceLocation], [Barangay], [ServiceRate], [ServiceTags], [ServiceDescription], [Status], [DateLabel], [IconClass], [IconBg], [IconColor], [Category], [PostedByUserId], [IsActive], [PostedAt]) VALUES (3, N'Alex - Certified Electrician', N'Brgy. Dela Paz, Biñan', N'Dela Paz', N'₱800-₱1,200 / araw', N'Wiring|Panel Troubleshooting', N'Electrical wiring at troubleshooting ng breaker/panel.', N'Busy Ngayon', N'Ngayon', N'bx bx-bolt', N'#e0f2fe', N'#0284c7', N'Electrician', 1, 1, CAST(N'2026-03-17T21:51:15.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Bio], [Role], [ProfileImagePath]) VALUES (1, N'Admin', N'admin@angat.local', N'admin123', CAST(N'2026-03-17T17:35:39.937' AS DateTime), 1, N'', N'', N'', N'', N'Admin', N'~/Images/Profiles/user_1_639093688700391633.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 2026-03-17 10:05:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('Bukas') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('bx bx-briefcase') FOR [IconClass]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('#e6f7f1') FOR [IconBg]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('#0d9e6e') FOR [IconColor]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('General') FOR [Category]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  CONSTRAINT [DF_ServiceRequests_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  CONSTRAINT [DF_ServiceRequests_RequestedAt]  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_PostedAt]  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[JobApplications]  WITH NOCHECK ADD  CONSTRAINT [FK_JobApplications_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApplications_Jobs]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_JobApplications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApplications_Users]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Users] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Users]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequests_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [FK_ServiceRequests_Services]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [FK_ServiceRequests_Users]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Users] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Users]
GO
USE [master]
GO
