/****** Object:  Database [AngatDatabase]    Script Date: 2026-03-22 8:52:34 PM ******/
CREATE DATABASE [AngatDatabase]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[MonthLabel] [nvarchar](10) NOT NULL,
	[DayLabel] [nvarchar](5) NOT NULL,
	[IsActive] [bit] NULL,
	[PostedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnouncementId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](100) NOT NULL,
	[SenderEmail] [nvarchar](150) NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectoryBusinesses]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectoryBusinesses](
	[DirectoryId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessName] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[AddressLine] [nvarchar](200) NULL,
	[OwnerName] [nvarchar](120) NULL,
	[Hours] [nvarchar](50) NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[MapEmbedUrl] [nvarchar](600) NULL,
 CONSTRAINT [PK_DirectoryBusinesses] PRIMARY KEY CLUSTERED 
(
	[DirectoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AppliedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[JobDescription] [nvarchar](1000) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[PayMin] [decimal](10, 2) NULL,
	[PayMax] [decimal](10, 2) NULL,
	[PayRate] [nvarchar](20) NOT NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
	[PostedByUserId] [int] NOT NULL,
	[Slots] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[NotificationType] [nvarchar](100) NOT NULL,
	[TargetUrl] [nvarchar](255) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuhunanPrograms]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuhunanPrograms](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](100) NOT NULL,
	[Organization] [nvarchar](100) NULL,
	[TagText] [nvarchar](100) NULL,
	[CategorySlug] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[TargetURL] [nvarchar](500) NULL,
	[LoanType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequests]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTitle] [nvarchar](150) NOT NULL,
	[ServiceDescription] [nvarchar](1000) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[RateMin] [decimal](10, 2) NULL,
	[RateMax] [decimal](10, 2) NULL,
	[RateType] [nvarchar](20) NOT NULL,
	[Availability] [nvarchar](100) NULL,
	[Tags] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PostedAt] [datetime] NOT NULL,
	[PostedByUserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingPrograms]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingPrograms](
	[TrainingID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Agency] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[Status] [nvarchar](10) NULL,
	[ApplyURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-03-22 8:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[AddressLine] [nvarchar](200) NOT NULL,
	[Barangay] [nvarchar](80) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfileImagePath] [nvarchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([AnnouncementId], [Title], [Body], [MonthLabel], [DayLabel], [IsActive], [PostedAt]) VALUES (1, N'Bagong TESDA Free Training — Cookery NC II', N'Magbubukas ang bagong batch ng libreng cookery training sa Biñan City Livelihood Center. Limitado lamang ang slot.', N'JUN', N'3', 1, CAST(N'2026-03-19T13:41:20.103' AS DateTime))
INSERT [dbo].[Announcements] ([AnnouncementId], [Title], [Body], [MonthLabel], [DayLabel], [IsActive], [PostedAt]) VALUES (2, N'DTI Negosyo Center — Micro-Loan Applications Open', N'Tumatanggap na ng applications ang DTI para sa P3 program. Hanggang Php 200,000 ang maaaring hiramin.', N'MAY', N'28', 1, CAST(N'2026-03-19T13:41:20.103' AS DateTime))
INSERT [dbo].[Announcements] ([AnnouncementId], [Title], [Body], [MonthLabel], [DayLabel], [IsActive], [PostedAt]) VALUES (3, N'Job Fair — Biñan City Hall', N'Magsasagawa ng job fair ang PESO Office. Mahigit 30 employer ang lalahok. Magdala ng resume at valid ID.', N'MAY', N'20', 1, CAST(N'2026-03-19T13:41:20.103' AS DateTime))
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (1, N'Jaime', N'jaime@example.com', N'Testing the contact form setup!', CAST(N'2026-03-16T00:54:10.193' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (2, N'Jaime', N'delapena.0221@gmail.com', N'Test iteration 1', CAST(N'2026-03-16T01:06:50.637' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (3, N'Jame', N'delapena.0221@gmail.com', N'Iteration Idk', CAST(N'2026-03-17T19:45:58.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[DirectoryBusinesses] ON 

INSERT [dbo].[DirectoryBusinesses] ([DirectoryId], [BusinessName], [Category], [Barangay], [AddressLine], [OwnerName], [Hours], [Tags], [Status], [IsActive], [CreatedAt], [UserId], [ContactNumber], [MapEmbedUrl]) VALUES (1, N'Lowercase Test', N'Iba Pa', N'Zapote', N'pulo diezmo road haha', N'Maria', N'Weekdays (Lunes - Biyernes) | 11:00 AM - 3:00 PM', N'GCash Accepted', N'Bukas Ngayon', 1, CAST(N'2026-03-22T11:32:38.970' AS DateTime), 12, N'09972635452', N'https://maps.app.goo.gl/i92xkJxj5Q2qFPdg6')
INSERT [dbo].[DirectoryBusinesses] ([DirectoryId], [BusinessName], [Category], [Barangay], [AddressLine], [OwnerName], [Hours], [Tags], [Status], [IsActive], [CreatedAt], [UserId], [ContactNumber], [MapEmbedUrl]) VALUES (3, N'Tindahan Na Malupet Sa Sobrang Lupit 2 Lines Aabutin Neto Hsadhashhasd', N'Laundry Shop', N'Platero', N'de la paz', N'userss', N'Weekdays (Lunes - Biyernes) | 6:00 AM - 10:00 PM', N'GCash Accepted|Delivery', N'Bukas Ngayon', 1, CAST(N'2026-03-22T12:34:52.233' AS DateTime), 11, N'09313872700', NULL)
SET IDENTITY_INSERT [dbo].[DirectoryBusinesses] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (1, 37, 11, NULL, N'Retracted', CAST(N'2026-03-22T12:20:47.277' AS DateTime))
INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (2, 38, 11, NULL, N'Approved', CAST(N'2026-03-22T12:18:27.290' AS DateTime))
INSERT [dbo].[JobApplications] ([ApplicationId], [JobId], [UserId], [Message], [Status], [AppliedAt]) VALUES (3, 34, 12, NULL, N'Retracted', CAST(N'2026-03-22T12:18:49.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (34, N'Test7', N'test1ajksdhakd', N'Kasambahay', N'Biñan', CAST(100.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), N'per day', N'Full-time', N'Available', 1, CAST(N'2026-03-22T12:14:35.790' AS DateTime), 11, 1)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (35, N'Test8', N'test8asdhahsdhasd', N'Driver', N'San Antonio', CAST(111.00 AS Decimal(10, 2)), CAST(333.00 AS Decimal(10, 2)), N'per day', N'Full-time', N'Available', 1, CAST(N'2026-03-22T12:14:59.137' AS DateTime), 11, 1)
INSERT [dbo].[Jobs] ([JobId], [JobTitle], [JobDescription], [Category], [Barangay], [PayMin], [PayMax], [PayRate], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId], [Slots]) VALUES (36, N'Test9', N'test9ahsdhasdhahsd', N'Bodega', N'San Francisco', CAST(111.00 AS Decimal(10, 2)), CAST(333.00 AS Decimal(10, 2)), N'per day', N'Weekdays Only', N'Available', 1, CAST(N'2026-03-22T12:15:18.160' AS DateTime), 11, 2)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (1, 8, N'Bagong job application', N'vince applied to your job: Test.', N'job_application_new', N'~/Pages/Profile.aspx?tab=listings&applicationId=9', 0, CAST(N'2026-03-21T18:38:20.787' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (2, 14, N'Bagong job application', N'vince applied to your job: Driver Ko.', N'job_application_new', N'~/Pages/Profile.aspx?tab=listings&applicationId=10', 1, CAST(N'2026-03-21T19:07:17.657' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [NotificationType], [TargetUrl], [IsRead], [CreatedAt]) VALUES (3, 13, N'Bagong job application', N'test applied to your job: Ang Galing.', N'job_application_new', N'~/Pages/Profile.aspx?tab=listings&applicationId=11', 1, CAST(N'2026-03-21T19:14:13.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PuhunanPrograms] ON 

INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (1, N'DTI - P3 Program', N'DTI', N'Pondo sa Pagbabago at Pag-asenso', N'DTI', N'Isang programa ng Department of Trade and Industry na nagbibigay ng pautang na walang collateral. Mayroon lamang itong 2.5% na interes kada buwan, mas mababa kaysa sa mga loan sharks.', N'https://www.dti.gov.ph/p3/', N'Micro')
INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (2, N'CARD MRI Microfinance', N'CARD MRI', N'Para sa mga Nanay', N'CARD', N'Nagbibigay ng maliliit na pautang na nagsisimula sa P3,000 para sa mga kababaihan na gustong magnegosyo. Mayroon din itong kasamang micro-insurance at savings program.', N'https://www.cardmri.com/', N'Micro')
INSERT [dbo].[PuhunanPrograms] ([ProgramID], [ProgramName], [Organization], [TagText], [CategorySlug], [Description], [TargetURL], [LoanType]) VALUES (3, N'DOLE Kabuhayan Program', N'DOLE', N'Livelihood Grant', N'DOLE', N'Ang DOLE Integrated Livelihood Program (DILP) ay nagbibigay ng grant (hindi inuutang, kundi tulong) para sa mga materyales at equipment na kailangan para makapagsimula ng negosyo.', N'https://www.dole.gov.ph/dilp-projects/', N'Small')
SET IDENTITY_INSERT [dbo].[PuhunanPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRequests] ON 

INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (1, 20, 11, NULL, N'Retracted', CAST(N'2026-03-22T12:26:24.883' AS DateTime))
INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (2, 21, 11, NULL, N'Approved', CAST(N'2026-03-22T12:26:27.007' AS DateTime))
INSERT [dbo].[ServiceRequests] ([RequestId], [ServiceId], [UserId], [Message], [Status], [RequestedAt]) VALUES (3, 17, 12, NULL, N'Retracted', CAST(N'2026-03-22T12:26:27.467' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (17, N'Test10', N'jhasdjkhaskdhajsd', N'Karpintero', N'San Francisco', CAST(123.00 AS Decimal(10, 2)), CAST(4567.00 AS Decimal(10, 2)), N'per day', NULL, N'Repair', N'Available', 1, CAST(N'2026-03-22T12:15:39.823' AS DateTime), 11)
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (18, N'Test11', N'test11ajhdkjasdasd', N'Karpintero', N'San Antonio', CAST(12313.00 AS Decimal(10, 2)), CAST(134432.00 AS Decimal(10, 2)), N'per day', NULL, N'Repair', N'Available', 1, CAST(N'2026-03-22T12:15:58.107' AS DateTime), 11)
INSERT [dbo].[Services] ([ServiceId], [ServiceTitle], [ServiceDescription], [Category], [Barangay], [RateMin], [RateMax], [RateType], [Availability], [Tags], [Status], [IsActive], [PostedAt], [PostedByUserId]) VALUES (19, N'Test12', N'ahsdjkasghdjkashdtest12', N'Karpintero', N'Platero', CAST(123.00 AS Decimal(10, 2)), CAST(345.00 AS Decimal(10, 2)), N'per day', NULL, N'Repair', N'Available', 1, CAST(N'2026-03-22T12:16:12.270' AS DateTime), 11)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingPrograms] ON 

INSERT [dbo].[TrainingPrograms] ([TrainingID], [Title], [Agency], [Description], [Location], [Status], [ApplyURL]) VALUES (1, N'Cookery NC II', N'TESDA', N'Matutong magluto ng mga sikat na putahe para sa carinderia o catering business.', N'Biñan Livelihood Center', N'Open', N'https://e-tesda.gov.ph/course/index.php?categoryid=4')
INSERT [dbo].[TrainingPrograms] ([TrainingID], [Title], [Agency], [Description], [Location], [Status], [ApplyURL]) VALUES (3, N'Electrical Installation & Maintenance NC II', N'TESDA', N'Libreng kurso para maging isang certified electrician.', N'TESDA Provincial Office', N'Open', N'https://e-tesda.gov.ph/course/index.php?categoryid=77')
SET IDENTITY_INSERT [dbo].[TrainingPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (1, N'Admin', N'admin@angat.com', N'admin123', CAST(N'2026-03-17T17:35:39.937' AS DateTime), 1, N'09000000000', N'Biñan City Hall', N'Biñan', N'Admin', N'''~/Images/default-icon.jpg''')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (8, N'user123', N'user@angat.com', N'user123', CAST(N'2026-03-21T07:06:25.000' AS DateTime), 1, N'09313872734', N'de la paz house', N'De La Paz', N'User', N'''~/Images/default-icon.jpg''')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [CreatedAt], [IsActive], [Phone], [AddressLine], [Barangay], [Role], [ProfileImagePath]) VALUES (10, N'the beat', N'beat@angat.com', N'beat123', CAST(N'2026-03-21T14:16:05.810' AS DateTime), 1, N'09313872735', N'de la paz houses', N'De La Paz', N'User', N'~/Images/default-icon.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Phone]    Script Date: 2026-03-22 8:52:34 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 2026-03-22 8:52:34 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[DirectoryBusinesses] ADD  CONSTRAINT [DF_DirectoryBusinesses_Status]  DEFAULT ('Bukas Ngayon') FOR [Status]
GO
ALTER TABLE [dbo].[DirectoryBusinesses] ADD  CONSTRAINT [DF_DirectoryBusinesses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DirectoryBusinesses] ADD  CONSTRAINT [DF_DirectoryBusinesses_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('per day') FOR [PayRate]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((1)) FOR [Slots]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('per day') FOR [RateType]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [PostedAt]
GO
ALTER TABLE [dbo].[TrainingPrograms] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_ProfileImagePath]  DEFAULT ('~/Images/default-icon.jpg') FOR [ProfileImagePath]
GO
ALTER TABLE [dbo].[DirectoryBusinesses]  WITH CHECK ADD  CONSTRAINT [FK_DirectoryBusinesses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DirectoryBusinesses] CHECK CONSTRAINT [FK_DirectoryBusinesses_Users]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
